#body{
  background-color: #2b2b2b;
  background-position: center;
}

#demo{
  background-color: #66ff66;
  border: none;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-style: normal;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-left: 400px;
  position: absolute;
  top: 40%;
  bottom: 50%;

}

#style{
  background-color: #66ff66;
  border: none;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-style: normal;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 700px;
  position: absolute;
  top: 40%;
  bottom: 50%;

}

.left-button{
  width: 100px;
  height: 100px;
  transtition: .5s;
  float: left;
  box-shadow: -2px 2px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
  tranform: rotate(45deg);

}

.left-button:hover{
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 1);
}
