
body {
  background-color: black;
    display: flex;
    color: white;
    -webkit-box-align: center;
            align-items: center;
  
           
  
  
            flex-direction: column;
  }
  
  * {
    font-family: "Montserrat", sans-serif !important;
  }
  button{
    display: block;
    background: #00ff5c;
    padding: 14px 40px;
    border-radius: 12px;
    color: #003b15;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    margin: 20 auto;
    
  }
  
  
  