* {
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #2b2b2b;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

button{
  display: block;
  background: #00ff5c;
  padding: 14px 40px;
  border-radius: 12px;
  color: #003b15;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
  margin: 20 auto;
  
}

#camera {
  width: 325x;
  height: 240px;
  border: 1px solid red;
  

}
