<!DOCTYPE html>
  <html
    <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ url_for('static', filename='js/NetworkController.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
  </head>
  <body id= "body">
    <h1 id="admin">Admin</h1>
    <h2>Add User</h2>

    <div>
      <form method='POST' id="add-user" onsubmit="submit()">
        <label for="email">Email</label>
        <input type="email" id="email" name="Email" placeholder="Email" required>
        <label for="password">Password</label>
        <input type="password" id="pword" name="Password" placeholder="Password" required>
        <label for="role">Select User</label>
        <select id="role" name="role" required>
          <option disabled selected value> -- select an option -- </option>
          <option value="admin">Admin</option>
          <option value="examiner">Examiner</option>
          <option value="student">Technical Invigilator</option>
        </select>

        <input type="submit" value="Submit">
      </form>
        <form method="GET" action="{{url_for('logout')}}">
            <button type = "submit" id="logout">Logout</button>
        </form>

    </div>

  </body>
</html>
