<!DOCTYPE html>
  <html
    <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
  </head>
    <body id= "body">
      <a href = "{{ url_for('exams') }}"><button id="demo" onclick = "Button()">Take Practice Exam</button>
      <a href = "{{ url_for('exams2') }}"><button id= "style" onclick = "Button1()">Take Exam</button>
    </body>

    <p>
    <a href="{{ url_for('homepage') }}">
        <img border="0" alt="homeicon" src="{{ url_for('static', filename='img/home-icon.png') }}" width="64" height="64">
      </a>
    </p>


  </html>
