<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/createExam.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
      <script src="{{ url_for('static', filename='js/NetworkController.js') }}" defer></script>
      <script src="{{ url_for('static', filename='js/createExam.js') }}" type="text/javascript" defer></script>
      <title>Full-Marks: Examiner: Create Exam</title>
    </head>
    <body>
        <h1>Create Exam</h1>
        <div class="form">
          <form id="exam-form">
              <input id="examName" type="text" name="exam-name" placeholder="Enter the module/name of the exam"><br>
              <input id="examCode" type="text" name="exam-code" placeholder="Enter the module/exam code"><br>
              <p id ="Name">Please enter the questions below</p>
              <div id="questions"></div>
              <button id="add-question" type="button" onclick="addQuestion()">Add Question</button><br>
              <button type="submit" id="btnSubmit">Create Exam</button>
            </form>
          </div>
    </body>
</html>

<div id="backicon" class="backicon" >
    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/backarrow.png') }}" alt="HomeIcon Logo" width="32" height="32">
</div>
