<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exams2.css') }}">
  <h2>Exams Available</h2>

<body>
  <table style="width:100%">
    <tr>
      <th>Module Title</th>
    </tr>
    <tr>
      <td>GUI</td>
      <td><a href="ImageCapture.html">Take Exam </td>
    </tr>
    <tr>
      <td>Procedural Programming</td>
      <td>Take Exam </td>
    </tr>
    <tr>
      <td>Algorithms</td>
      <td>Take Exam </td>
    </tr>
    <tr>
      <td>Data Structures</td>
      <td>Take Exam </td>
    </tr>
      <tr>
        <td>Automata Formal Language</td>
        <td>Take Exam</td>
      </tr>
    </table>
    <div id="backicon" class="backicon" >
      <a href="button.html"><img src="{{ url_for('static', filename='backarrow.png') }}" alt="HomeIcon Logo" width="32" height="32">
    </div>
</body>
</html>
