<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login&Register</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login&Register.css') }}" />
  </head>

  <body>
    <div class="align">
      <h1><b>Full Marks</b></h1>
      <img src="{{ url_for('static', filename='img/Logo.JPG') }}" alt="logo" />
      <div class="card">
        <div class="head">
          <a id="login" href="#login" class="selected">Examiner Login</a>
        </div>
        <div class="tabs">
          <form method="get" id="form" class="form" action="{{ url_for('examiner') }}">
            <div class="inputs">
              <div class="form-control">
                <input type="email" placeholder="email" id="email" required />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/user.svg') }}" />
              </div>

              <div class="form-control">
                <input
                  type="password"
                  placeholder="password"
                  id="password"
                  required
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/pass.svg') }}" />
              </div>
            </div>
            <button>Login</button>
          </form>
        </div>
      </div>
    </div>
    <a href="{{ url_for('dashboard') }}">
        <img border="0" alt="homeicon" src="{{ url_for('static', filename='img/home-icon.png') }}" width="64" height="64">
    </a>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
