<html>
  <head>
    <title>Taking Picture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ImageCapture.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/NetworkController.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/ImageCapture.js') }}" defer></script>
    <script defer>
      async function compareImages(e){
        e.preventDefault();
        // Get base64 value from <img id='imageprev'> source
        let base64image = document.getElementById("preview").src;

        Webcam.upload( base64image, '{{ url_for("compareImages") }}', await function(code, text) {
          obj = JSON.parse(text);
          console.log(obj);
          alert('Images match to a similarity of ' + Number(obj.similarity.toFixed(2)) + "% with confidence of " + Number(obj.confidence.toFixed(2)) + "%");
          if(obj.similarity < 90){
            alert('Images need a similarity of 90% in order to be deemed similar');
            networkController.redirect('ImageCapture');
          }else{
            networkController.redirect('tAndC');
          }
        });
        return false;
      }
    </script>
  </head>
  <body>
    <div id="camera"></div>
    <button onclick="takeSnapshot()" action="{{ url_for('quiz') }}">Take Picture</button>
    <form method="POST" id="form">
      <div id="results"></div>
      <button type="submit">Compare</button>
    </form>
  </body>
</html>
