<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login_Register</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Login&Register.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/NetworkController.js') }}"
      defer
    ></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/login&Register.js') }}"
      defer
    ></script>
  </head>

  <body>
    <div class="align">
      <img
        src="{{ url_for('static', filename='img/Logo.JPG') }}"
        width="223"
        height="150"
        alt="logo"
      />
      <div class="card">
        <div class="head">
          <a id="register" href="#register" class="selected">Register</a>
          <a id="login" href="#login">Login</a>
        </div>
        <div class="tabs">
          <form method="POST" id="register-form" class="form">
            <div class="inputs">
              <div class="form-control">
                <input type="text" placeholder="Student ID" id="SID" required/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/user.svg') }}" />
              </div>
              <div class="form-control">
                <input type="text" placeholder=" Student Email" id="email" required/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/mail.svg') }}" />
              </div>
              <div class="form-control">
                <input type="password" placeholder="Password" id="password" required/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/pass.svg') }}" />
              </div>
              <div class="form-control">
                <input
                  type="password"
                  placeholder="Re-Enter Password"
                  id="password2"
                  required
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/pass.svg') }}" />
              </div>
            </div>
            <button>Register</button>
          </form>
          <form method="POST" id="login-form" class="form">
            <div class="inputs">
              <div class="form-control">
                <input
                  type="email"
                  placeholder="Email"
                  id="email-login"
                  required
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/mail.svg') }}" />
              </div>
              <div class="form-control">
                <input
                  type="password"
                  placeholder="Password"
                  id="password-login"
                  required
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
                <img src="{{ url_for('static', filename='img/pass.svg') }}" />
              </div>
            </div>
            <button>Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
