<!DOCTYPE html>
<html>
<head>
	<h1> GUI MCQ </h1>
	<title>Exam</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
	<div class="container">
		<header>
			<div class="pull-left">Examination</div>
			<div class="pull-right">Full Marks</div>

		</header>
		<main>
			<form class="questionForm" id="q1" data-question="1">
				<h3>1. What is it called when a program is written to respond to the button clicks, menu selections and other actions of the user in whatever order the user does them? </h3>
				<ul>
					<li><input name="q1" type="radio" value="a" />a. Event-driven programming</li>
					<li><input name="q1" type="radio" value="b" />b. Action-driven programming</li>
					<li><input name="q1" type="radio" value="c" />c. User-driven programming</li>
					<li><input name="q1" type="radio" value="d" />d. Mouse-driven programming</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>
			</form>

			<form class="questionForm" id="q2" data-question="2">
				<h3>2. The three software parts of a GUI program are? </h3>
				<ul>
					<li><input name="q2" type="radio" value="a" />a. Windows, Buttons, Mice</li>
					<li><input name="q2" type="radio" value="b" />b. GUI Components, Graphics, Code</li>
					<li><input name="q2" type="radio" value="c" />c. GUI Components, Event Listeners, Application Code</li>
					<li><input name="q2" type="radio" value="d" />d. Frames, Code, Events</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>
			</form>

			<form class="questionForm" id="q3" data-question="3">
				<h3>3. What is the one component that nearly all GUI programs will have? </h3>
				<ul>
					<li><input name="q3" type="radio" value="a" />a. Frame</li>
					<li><input name="q3" type="radio" value="b" />b. Mouse</li>
					<li><input name="q3" type="radio" value="c" />c. Monitor</li>
					<li><input name="q3" type="radio" value="d" />d. Button</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<form class="questionForm" id="q4" data-question="4">
				<h3>4. What is a container?</h3>
				<ul>
					<li><input name="q4" type="radio" value="a" />a. A container is another name for an array or vector</li>
					<li><input name="q4" type="radio" value="b" />b. A container is any class that is made up of other classes</li>
					<li><input name="q4" type="radio" value="c" />c. A container is a primitive variable that contains the actual data</li>
					<li><input name="q4" type="radio" value="d" />d. A container is an object like a Frame that has other GUI components placed inside of it</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<form class="questionForm" id="q5" data-question="5">
				<h3>5. What does the term GUI stand for?</h3>
				<ul>
					<li><input name="q5" type="radio" value="a" />a. Graphical User Input</li>
					<li><input name="q5" type="radio" value="b" />b. Graphical User Interface</li>
					<li><input name="q5" type="radio" value="c" />c. Graphical Utility Interface</li>
					<li><input name="q5" type="radio" value="d" />d. Graphics User Interface</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<form class="questionForm" id="q6" data-question="6">
				<h3>6. A GUI is a?</h3>
				<ul>
					<li><input name="q6" type="radio" value="a" />a. hardware</li>
					<li><input name="q6" type="radio" value="b" />b. language interpreter</li>
					<li><input name="q6" type="radio" value="c" />c. software interface</li>
					<li><input name="q6" type="radio" value="d" />d. operating system</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<form class="questionForm" id="q7" data-question="7">
				<h3>7. The first graphical user interface was popularized as?</h3>
				<ul>
					<li><input name="q7" type="radio" value="a" />a. Xerox Star</li>
					<li><input name="q7" type="radio" value="b" />b. Apple Lisa</li>
					<li><input name="q7" type="radio" value="c" />c. IBM 610</li>
					<li><input name="q7" type="radio" value="d" />d. both a and b</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<form class="questionForm" id="q8" data-question="8">
				<h3>8. First graphical use interface was introduced in?</h3>
				<ul>
					<li><input name="q8" type="radio" value="a" />a. 1970</li>
					<li><input name="q8" type="radio" value="b" />b. 1975</li>
					<li><input name="q8" type="radio" value="c" />c. 1978</li>
					<li><input name="q8" type="radio" value="d" />d. 1972</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<form class="questionForm" id="q9" data-question="9">
				<h3>9. Which type of user interface provide input by typing a string in the keyboard?</h3>
				<ul>
					<li><input name="q9" type="radio" value="a" />a. Graphical user interface</li>
					<li><input name="q9" type="radio" value="b" />b. Command line user interface</li>
					<li><input name="q9" type="radio" value="c" />c. Natural language interface</li>
					<li><input name="q9" type="radio" value="d" />d. Menu interface</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<form class="questionForm" id="q10" data-question="10">
				<h3>10. Which of the following is disadvantage of a GUI?</h3>
				<ul>
					<li><input name="q10" type="radio" value="a" />a. They require a large amount of memory and processing power</li>
					<li><input name="q10" type="radio" value="b" />b. They're much easier for beginners to use</li>
					<li><input name="q10" type="radio" value="c" />c. They're intuitive to learn</li>
					<li><input name="q10" type="radio" value="d" />d. They require a small amount of memory and processing power</li>
				</ul>
				<button id="prev" class='pull-left'>Previous</button>
				<button id='next' class='pull-right'>Next</button>			</form>

			<div id="results"></div>
			<br>
		</main>
		<footer>
			<div class="pull-left">Total: 10 Questions</div>
			<div class="pull-right2"><a href="{{ url_for('student') }}">Go Back To Exam Page</div>
		</footer>
	</div>
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/mockQuiz.js') }}"></script>
		<div id="homeicon" class="homeicon" >
		</div>
</body>
</html>
