<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/PersonalDetails.css') }}" />
  </head>

    <div id="header" class="container">
      <div id="new">
        <h1>
          <img src="{{ url_for('static', filename='img/Logo.JPG') }}" alt="FullMarks Logo" width="180" height="109" />
        </h1>
        <div id="menu">
          <ul>
            <li>
              <a href="{{ url_for('index') }}" accesskey="1" title="">Homepage</a>
            </li>
            <li class="current_page_item">
              <a href="{{ url_for('personalDetails') }}" accesskey="3" title="">Details</a>
            </li>
            <li><a href="{{ url_for('button') }}">Exam</a></li>
            <li><a href="{{ url_for('ExaminerLogin') }}">Examiner</a></li>
            <li><a href="{{ url_for('login') }}">Signout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="Details">
      <br>
      <br>
      <body>
        <div id = "detailsheader">
          <h2><center>Personal Details</center></h2>
        </div>
        <p id = "info">Here is the information you have submitted:</p>
        <br />
        <label id = "name">Name:</label>
        <br /><p></p>
        <label id = "password">Password:</label>
        <br /><p></p>
        <label id = "email">email:</label>
        <br /><p></p>
        <label id= "id">Student id:</label>
      </div>
    </body>
  </html>
