<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/PersonalDetails.css') }}" />
  </head>

  <body>
    <h1><center>Personal Details</center></h1>
    <p>Here is the information you have submitted:</p>
    <br />

    <label>Name:</label>
    <br />
    <label>Password:</label>
    <br />
    <label>email:</label>
    <br />
    <label>Student id:</label>
  </body>
</html>
