<!DOCTYPE html>
<html>
  <title>Searching Results</title>
  <head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SearchExamPage.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
  <script src="{{ url_for('static', filename='js/NetworkController.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/SearchMarks.js') }}" defer></script>
</head>
<body id= "body">
  <h1>Search For Exam</h1>
  <br></br>
  <p>Welcome to the Search for Feedback page, please search the module code/ID of the assessment you want to attain feedback for:</p>

  <div class="wrapScript">
    <label id='lblScripts' class='scripts searchTermScripts' for="scripts">Please choose an exam to attain feedback for:</label>
	<br>
    <select id='scripts' class="searchTermStudent searchTermScripts"><br/>
      {% for exam in exams %}
        <option value={{ exam }}>{{ exam }}</option>
      {% endfor %}
    </select>
  </div>
  <input id ="submit" type="submit" value="Submit" onclick="startExam()">
</body>
</html>
