<!DOCTYPE html>
  <html
    <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ url_for('static', filename='js/NetworkController.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SearchExamPage.css') }}">
  </head>
  <body id= "body">
    <h1>Search For Exam</h1>
    <br></br>
    <p>Welcome to the Search for Exam page, please search the module code/ID of the assessment you want to take:</p>
    <br></br>  <br></br>
    <div class="wrap">
       <div class="search">
          <input id="search" type="text" class="searchTerm" placeholder="Please type in your module ID">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </div>
    </div>
    <br></br>
  <input id ="submit" type="submit" value="Submit">
</body>
</html>
