<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Login&Register</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminDashboard.css') }}" />
</head>

<body>
    <div class="align">
        <img src="{{ url_for('static', filename='img/Logo.JPG') }}" alt="logo" width="170" height="140" />
        <div class="card">
            <div class="head">
                <a id="login" class="selected">Student Dashboard</a>
            </div>
            <fieldset>
                <form action="{{ url_for('exams') }}">
                    <button id="Take_Practice Exam">Take Practice Exam</button>
                </form>
                <form action="{{ url_for('searchExam') }}">
                    <button id="Take Exam"> Take Exam</button>
                </form>
                <form action="{{ url_for('student') }}">
                    <button id="Review Answers">Review Answers</button>
                </form>
                <form class="logout" action="{{ url_for('logout') }}">
                    <button id="Signout">Signout</button>
                </form>
            </fieldset>
        </div>
    </div>
</body>

</html>
