<!DOCTYPE html>
<html>
<head>
	<h1> {{ examCode }} </h1>
	<title>Exam Review</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
	<div class="container">
		<header>
			<div class="pull-left">Examination</div>
			<div class="pull-right">Full Marks</div>
		</header>
		<main>
			<form class="questionForm" action="{{ url_for('student') }}">
				<h3>Student Review</h3>
					<textarea rows="10" cols="60" class='textarea' disabled>
						{{- feedback -}}
					</textarea><br/>
				<button id="submit" class='pull-left'>Finish Review</button>
			</form>
			<br>
		</main>
		<footer>
			<div class="pull-left">Marks: {{ marks|sum }}/{{ totalMarks }} ({{ ((marks|sum/totalMarks)*100)|round(2) }}%)</div>
			<div class="pull-right">Total number of questions: {{ marks|length }}</div>
		</footer>
	</div>
</body>
</html>