<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}" />

  <H1>Exam Timetable</H1>
  <TABLE class="myTimetable">
    <TBODY>
      <TR>
        <TD>Exam 1 - Monday 01/06/20</TD>
        <TD>
          <div class="subject">GUI</div>
          <div class="room">A120</div>
        </TD>
      </TR>
      <TR>
        <TD>Exam 2 - Wednesday 03/06/20</TD>
        <TD>
          <div class="subject">Algorithms</div>
          <div class="room">Lab1</div>
        </TD>
      </TR>
      <TR>
        <TD>Exam 3 - Friday 05/06/20</TD>
        <TD>
          <div class="subject">Procedural Programming</div>
          <div class="room">ICT 1</div>
        </TD>
      </TR>
      <TR>
        <TD>Exam 4 - Tuesday 09/06/20</TD>
        <TD>
          <div class="subject">Data Structures</div>
          <div class="room">B104</div>
        </TD>
      </TR>
        <TR>
        <TD>Exam 5 - Thursday 11/06/20</TD>
        <TD>
          <div class="subject">Automata Formal Language</div>
          <div class="room">C17</div>
        </TD>
      </TR>
     </TBODY>
    </TABLE>

    <p>
      <a href="homepage.html">
        <img border="0" alt="homeicon" src="{{ url_for('static', filename='img/home-icon.png') }}" width="64" height="64">
      </a>
    </p>
</html>
